aiohttp==3.4.4
async-timeout==3.0.1
aiomysql==0.0.20
beautifulsoup4==4.7.1
boto==2.48.0
certifi==2019.3.9
chardet==3.0.4
discord==0.0.2
discord.py==1.1.1
multidict==4.5.2
pipenv==2018.5.18
virtualenv==16.0.0
virtualenv-clone==0.3.0
websockets==6.0
youtube-dl==2018.06.11
requests==2.22.0
